<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>甲壳虫智能官网后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/admin/js/jquery.form.min.js"></script>
    <script src="../../static/admin/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="../../static/admin/js/tinymce_setup.js"></script>
</head>
<body>
<div class="breadcrub">
    当前位置：解决方案>修改解决方案
</div>
<div class="pannel">
    <form class="news_edit">
        <div class="form_group">
            <label>名称：</label>
            <input name="name" type="text" class="input_txt2" value="{{ data.solution.name }}">
        </div>

        <div class="form_group">
            <label>摘要：</label>
            <textarea class="input_multxt" name="digest">{{ data.solution.digest }}</textarea>
        </div>
        <div class="form_group">
            <label>图片：</label>
            <img src="{{ data.solution.image_url }}" alt="索引图片" class="index_pic">
        </div>
        <div class="form_group">
            <label>上传图片：</label>
            <input type="file" name="index_image" class="input_file">
        </div>
        <div class="form_group">
            <label>内容：</label>
            <div class="rich_wrap fl">
                <input class="input_area" id="rich_content" name="content" value="{{ data.solution.content }}"></input>
            </div>
        </div>

        {# 添加隐藏字段新闻id #}
        <input type="hidden" name="solution_id" value="{{ data.solution.id }}">

        <div class="form_group indent_group line_top">
            <input type="submit" value="确定" class="confirm">
            <input type="button" value="取消" class="cancel" onclick="cancel()">
        </div>
    </form>
</div>

<script>
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    $(function () {
        $(".news_edit").submit(function (e) {
            e.preventDefault()
            // TODO 新闻编辑提交
            $(this).ajaxSubmit({
                beforeSubmit: function (request) {
                    // 在提交之前，对参数进行处理
                    for (var i = 0; i < request.length; i++) {
                        var item = request[i]
                        if (item["name"] == "content") {
                            item["value"] = tinyMCE.activeEditor.getContent()
                        }
                    }
                },
                url: "/admin/solution_modify",
                type: "POST",
                headers: {
                    "X-CSRFToken": getCookie('csrf_token')
                },
                success: function (resp) {
                    if (resp.errno == "0") {
                        // 返回上一页，刷新数据
                        location.href = document.referrer;
                    } else {
                        alert(resp.errmsg);
                    }
                }
            })
        })
    })

    // 点击取消，返回上一页
    function cancel() {
        location.href = document.referrer;
    }
</script>
</body>
</html>